<nav class="nav justify-content-left  ">
    <a class="nav-link active" href="/" aria-current="page">Завершить</a>

    <a class="nav-link" href="price?saler=<%=saler%>">Товары</a>
    <a class="nav-link" href="dispOrders?saler=<%=saler%>">Заказы</a>
    <!-- <a class="nav-link" href="editUserCard?saler=<%=saler%>">Пользователь</a> -->
 
  </nav>