<nav class="nav justify-content-left  ">
  <a class="nav-link active" href="/" aria-current="page">Завершить</a>
<%#    <a class="nav-link" href="#">Link</a>
  <a class="nav-link disabled" href="#">Disabled link</a>
%> 
</nav>